.categories{
    color: #00FF66;
    font-weight: 600;
    font-size: 16px;
    margin-top: 30px;
}

.dateTimeBlock{
    display: flex;
    margin-bottom: 30px;
}

.container{
    margin-left: 60px;
}

@media only screen and (max-width: 800px) {
    .container{
        order: 2;
    }

}