.product {
    margin: 1em;
}

.product_image {
    mix-blend-mode: multiply;
    filter: contrast(1);
}

.product_title {
    font-size: 16px;

}

.product_content {
    justify-content: center;
    display: flex;
}



.product_price {
    color: #DB4444;
    font-size: 16px;
}

.left_icon {
    background: #DB4444;
    border-radius: 4px;

    text-align: center;
    color: white;
    margin-top: -2.7em;
    padding: 4px 12px;

    width: 55px;
    height: 26px;

    background: #DB4444;
    border-radius: 4px;
}

.actionButtons {
    display: flex;
    flex-direction: column;
    column-gap: 1em;
    justify-content: space-between;
}

.icon_button {
    border-radius: 17px;
    width: 34px;
    height: 34px;
    background: white;
}

.rating_box {
    column-gap: 0.5em;
    display: flex;
    align-items: center;
}

.rating_count {
    color: #000000;
    opacity: 0.5;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
}