.headercontainer{
    display: flex;
    justify-content: flex-end;
    background-color: black;
}
.NestedContainer{
    width: 70%;
    display: flex;
    justify-content: space-between;
}

.headerTitle{
    color: white!important;
}

@media only screen and (max-width: 1000px) {
    .NestedContainer{
        width: 100%;
        margin-left: 10px;
    }
}